<!-- Footer -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<footer class="page-footer font-small blue">
           <div class="text-center center-block">
                <p class="txt-railway">- codie.in -</p>
                <br />
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-github-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-linkedin-square fa-3x social"></i></a>
	            <a href="mailto:hakelakhan@yahoo.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->