<div class = "showcase bg largediv text-center p-5">
    <h1>My Story</h1>
    <h2>A Dedicated C++ Developer</h2>

    <p>I’ve been working in the competitive web development field since 2000. I have a great deal of experience working both on solo projects and also as part of a team. This flexibility means I can perform well on whatever projects come my way.
    </p>
    <p>
From initial concept to the final result, I provide personalized attention and guidance throughout the whole process. As an industry leading C++ Developer, I have the experience and track record to help you succeed in today’s digital age.
    </p>
    <p>aboutus works!</p>
</div>
