        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/person-laptop-studying-cropped.png" class="img-fluid"/>
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text text-center">
                        <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-ko30c87l" >
                            <h1 class="font_4" style="line-height:1.25em; text-align:center;">
                                <span class="color_15"><span style="font-weight:700;">Improve your<br/> coding skills</span></span>
                            </h1></div>
                        <p class="font_7" style="text-align:center; line-height:1.67em;">
                            <span class="color_15">
                                Practice makes man perfect!&nbsp;Join great community of passionate programmers</span></p>
                                <p class="lead text-muted text-justify px-5" >
                                I believe anyone having an appetite to upscale can learn programming. Coding is all about practice The more you practice, the better you get at it. So start from basics and give yourself sometime to absorb new concepts and keep practicing each concept until you get enough confidence. 
                                </p>
                                <div class = "m-5">
                                    <button class="btn btn-lg btn-outline-info" routerLink="/signup" type="button">
                                        <i><mat-icon >task_alt</mat-icon> </i>
                                        Start Coding
                                    </button>
                                </div>


                    </div>
                </div>                
            </div>
        </section>
        <section>
        <div class = "showcase2">

        <p class = "display-4"> <strong>What you can learn</strong></p>

        </div>


        </section>

        <section class="showcase">            
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/laptop.PNG" class="img-fluid"/>
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text px-5 ">
                        <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-ko30c87l" >
                            <h6 class="font_0 lead" style="line-height:1.41em; ">
                               <span class="color_15"><span style="font-weight:70;"><strong>Learn Programming</strong>
                            </span></span>
                            </h6></div>
                                <p class="lead text-muted text-justify" >
This service can play an integral role in making sure you stand out in a crowded field. While I find Javascript especially satisfying, it is just one of many elements that go into a successful development project.
                                </p>


                    </div>
                </div>                
            </div>
        </section>
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/code.PNG" class="img-fluid"/>
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text px-5 ">
                        <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-ko30c87l" >
                            <h6 class="font_0 lead" style="line-height:1.41em; ">
                               <span class="color_15"><span style="font-weight:70;"><strong>Data Structures</strong>
                            </span></span>
                            </h6></div>
                                <p class="lead text-muted text-justify" >
This service can play an integral role in making sure you stand out in a crowded field. While I find Javascript especially satisfying, it is just one of many elements that go into a successful development project.
                                </p>


                    </div>
                </div>                
            </div>
        </section>

        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/person-code.PNG" class="img-fluid"/>
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text px-5 ">
                        <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-ko30c87l" >
                            <h6 class="font_0 lead" style="line-height:1.41em; ">
                               <span class="color_15"><span style="font-weight:70;"><strong>Algorithms</strong>
                            </span></span>
                            </h6></div>
                                <p class="lead text-muted text-justify" >
This service can play an integral role in making sure you stand out in a crowded field. While I find Javascript especially satisfying, it is just one of many elements that go into a successful development project.
                                </p>


                    </div>
                </div>                
            </div>
        </section>




























        <div class = "showcase2">

        <p class = "display-4"> <strong>Top Coders</strong></p>
        <p class = "display-6 mb-5"> Who are practicing consistently in codie.in</p>
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <div class="">
                                <div class="profile-card-6">
                                    <img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>15</h3>
                                    <p>Solved Problems</p>
                                </div>
                                <div class="col-4">
                                    <h3>Java</h3>
                                    <p>Programming Language</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Total Score achieved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="">

                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6">
                                    <img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
        </div>


 

        <!--section>
        <div class = "showcase2">

        <p class = "display-4"> <strong>Recent work </strong></p>
            <div class = "row"> 
                <div class="col-md-4"> 
                    <img src="../../assets/platform-upgrade.png" class="img img-responsive">
                    <h3>Platform Upgrade</h3>
                    <h5>April 2020 - June 2021</h5>
                </div>
                <div class="col-md-4"> 

                    <img src="../../assets/system-redesign.PNG" class="img img-responsive">
                    <h3>System Redesign</h3>
                    <h5>April 2020 - June 2021</h5>

                </div>

                <div class="col-md-4"> 
                    <img src="../../assets/enhanced-security.png" class="img img-responsive">
                    <h3>Security Enhancement</h3>
                    <h5>April 2020 - June 2021</h5>


                </div>

            </div>

        </div>


        </section-->





        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/lets-chat.png" class="img-fluid"/>
                    </div>
                    <!--div class="col-lg-6 order-lg-2 text-white ">
                        <img src= "../../assets/lets-chat.png" class="img img-responsive"/>
                    </div-->
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text px-5 ">
                        <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-ko30c87l" >
                            <h6 class="font_0 lead" style="line-height:1.41em; ">
                               <span class="color_15"><span style="font-weight:70;"><strong>Let's connect</strong>
                            </span></span>
                            </h6></div>
                                <p class="lead text-muted text-justify" > Keshav nagar, Mundhawa, Pune 411 036</p>
                                <p class="lead text-muted text-justify" > hakelakhan@yahoo.com </p>
                                <p class="lead text-muted text-justify" > +91 98343 49699</p>


                    </div>
                </div>   
                <div class="row no-gutters">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.910779982696!2d73.93856186475243!3d18.532933537401785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c22be95e5a45%3A0x913ecb8e124f523a!2z4KS44KS44KS-4KSj4KWHIOCkleClieCksuCkqOClgCwg4KSV4KWH4KS24KS1IOCkqOCkl-CksCwg4KSu4KWB4KSC4KSi4KS14KS-LCDgpKrgpYHgpKPgpYcsIOCkruCkueCkvuCksOCkvuCkt-CljeCkn-CljeCksCA0MTEwMzY!5e0!3m2!1smr!2sin!4v1622970444176!5m2!1smr!2sin" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>             
            </div>
        </section>

        <section>
            <div class = "showcase2">
                    <div class="d-flex flex-wrap  align-content-stretch justify-content-center">
                        <div class = "vid">
                            <iframe src="https://www.youtube.com/embed/Dv7gLpW91DM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
                        </div>
                        <div class = "vid">
                            <iframe src="https://www.youtube.com/embed/pRC09Tz9iVE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class = "vid">
                            <iframe src="https://www.youtube.com/embed/m050iy5_2ng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>  
                    </div>

            </div>
        </section>

