        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/person-laptop-studying-cropped.png" class="img-fluid"/>
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text text-center">
                        <h1 class="display-3 "><strong>
                            Improve your coding skills
                        </strong>
                        </h1>                        
                        <p class="lead mt-5 text-center">Practice makes man perfect! 
                            Join great community of passionate programmers</p>                
                            <p class="lead">
                                <a class="btn btn-primary btn-lg" href="#" role="button">Start Coding</a>
                              </p>
                    </div>
                </div>                
            </div>
        </section>
