        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/person-laptop-studying-cropped.png" class="img-fluid"/>
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text text-center">
                        <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-ko30c87l" >
                            <h1 class="font_4" style="line-height:1.25em; text-align:center;">
                                <span class="color_15"><span style="font-weight:700;">Improve your<br/> coding skills</span></span>
                            </h1></div>
                        <p class="font_7" style="text-align:center; line-height:1.67em;">
                            <span class="color_15">
                                Practice makes man perfect!&nbsp;Join great community of passionate programmers</span></p>
                                <p class="lead text-muted text-justify px-5" >
                                I believe anyone having an appetite to upscale can learn programming. Coding is all about practice The more you practice, the better you get at it. So start from basics and give yourself sometime to absorb new concepts and keep practicing each concept until you get enough confidence. 
                                </p>
                                <div class = "m-5">
                                    <button class="btn btn-lg btn-outline-info" routerLink="/signup" type="button">
                                        <i><mat-icon >task_alt</mat-icon> </i>
                                        Start Coding
                                    </button>
                                </div>


                    </div>
                </div>                
            </div>
        </section>
        <section>
        <div class = "showcase2">

        <p class = "display-4"> <strong>What you can learn</strong></p>

        </div>


        </section>

        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/laptop.PNG" class="img-fluid"/>
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text px-5 ">
                        <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-ko30c87l" >
                            <h6 class="font_0 lead" style="line-height:1.41em; ">
                               <span class="color_15"><span style="font-weight:70;"><strong>Learn Programming</strong>
                            </span></span>
                            </h6></div>
                                <p class="lead text-muted text-justify" >
This service can play an integral role in making sure you stand out in a crowded field. While I find Javascript especially satisfying, it is just one of many elements that go into a successful development project.
                                </p>


                    </div>
                </div>                
            </div>
        </section>
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/code.PNG" class="img-fluid"/>
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text px-5 ">
                        <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-ko30c87l" >
                            <h6 class="font_0 lead" style="line-height:1.41em; ">
                               <span class="color_15"><span style="font-weight:70;"><strong>Data Structures</strong>
                            </span></span>
                            </h6></div>
                                <p class="lead text-muted text-justify" >
This service can play an integral role in making sure you stand out in a crowded field. While I find Javascript especially satisfying, it is just one of many elements that go into a successful development project.
                                </p>


                    </div>
                </div>                
            </div>
        </section>

        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img">
                        <img src= "assets/person-code.PNG" class="img-fluid"/>
                    </div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text px-5 ">
                        <div data-packed="true" data-vertical-text="false" class="txtNew" id="comp-ko30c87l" >
                            <h6 class="font_0 lead" style="line-height:1.41em; ">
                               <span class="color_15"><span style="font-weight:70;"><strong>Algorithms</strong>
                            </span></span>
                            </h6></div>
                                <p class="lead text-muted text-justify" >
This service can play an integral role in making sure you stand out in a crowded field. While I find Javascript especially satisfying, it is just one of many elements that go into a successful development project.
                                </p>


                    </div>
                </div>                
            </div>
        </section>




























        <div class = "showcase2">

        <p class = "display-4"> <strong>Top Coders</strong></p>
        <p class = ""> Who are practicing consistently in codie.in</p>
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <div class="">
                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="">

                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">


                                <div class="profile-card-6"><img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-6.jpg" class="img img-responsive">
                    <div class="profile-name">JOHN
                        <br>DOE</div>
                    <div class="profile-position">Lorem Ipsum Donor</div>
                    <div class="profile-overview">
                        <div class="profile-overview">
                            <div class="row text-center">
                                <div class="col-4">
                                    <h3>1</h3>
                                    <p>Rank</p>
                                </div>
                                <div class="col-4">
                                    <h3>50</h3>
                                    <p>Matches</p>
                                </div>
                                <div class="col-4">
                                    <h3>35</h3>
                                    <p>Goals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


 
