/* You can add global styles to this file, and also import other style files */

body {
    background-color: #150C3F !important;
    margin:0;
    padding:0;
    color:white !important;    
}
.showcase {
    background-color: white;
    border-radius: 2px;
    margin: 90px 100px;
    color:black;
}
.showcase2 {
   text-align: center;
   margin: 90px 100px;
}
@media screen and (max-width: 600px) {
  .showcase {
    margin:40px 0;
  }
  .showcase2 {
    margin:40px 0;
  }
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: #0062cc;
    color:white
}
html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.testcase-data {
    border:1px solid #0062cc;background-color:lightgoldenrodyellow; color:#0062cc; padding:5px;
    white-space: pre-wrap;
}
.font_4 {
    font: normal normal normal 72px/1.25em lato-light,lato,sans-serif !important;
    color: #150C3F;
    line-height:1.25em; text-align:center;
    
}
.font_7 {
    font: normal normal normal 20px/1.67em lato-light,lato,sans-serif !important;
    color: #150C3F;
}

.font_0 {
    font: normal normal normal 30px/1.41em lato-light,lato,sans-serif !important;
    color: #150C3F;
}
.material-icons {
    vertical-align: -4px; /*Change this to adjust the icon*/
}

.display-6 {
    font-size:large;
}