/* You can add global styles to this file, and also import other style files */

body {
    background-color: #150C3F !important;
    margin:0;
    padding:0;
    color:white !important;    
}
.showcase {
    background-color: white;
    border-radius: 2px;
    color:black;    
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: #0062cc;
    color:white
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
