<section class="showcase">

	<div class="row">        		
		<div class="col-md-9 shadow-lg">        
			<div  *ngFor="let question of questions" class="row">                 
                <div class="card mb-3" [style.width.%]="100" >
                    <div class="row g-0" >                
                      <div class="col-md-9 " >
                        <div class="card-body">
                          <h2 class="card-title">{{question.title}}</h2>
                          <p class="card-text">{{question.description}}                            
                          </p>
                          <p class="card-text"><small class="text-muted">
                            
                            DIFFICULTY LEVEL : <i>{{question.difficultyLevel}}</i> 
                            MAX SCORE : <i>{{question.maxScore}} POINTS</i>
                            CURRENT SCORE  : <i> {{question.score}}</i></small>
                          </p>
                            
                        </div>
                      </div>

                      <div class="col-md-3  d-flex align-items-center justify-content-center ">
                        <a class="btn btn-primary" routerLink = "/questions/{{question.questionId}}">{{question.solved == true ? 'Try again' : 'Solve Challenge'}}</a>
                      </div>

                    </div>
                  </div>
            </div>                           
        </div>
		<div class="col-md-3">
            
            <h4>Checkbox Buttons</h4>

	</div>
  </div>
</section>